.ant-notification-notice.lib-notification-notice {
  cursor: pointer;
  user-select: none;
  padding: 10px 20px;
  width: 300px;
  border-radius: 5px;

  .anticon {
    vertical-align: 0;
    > * {
      font-size: 24px;
    }
  }

  &:hover {
    font-weight: bold;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);

    .anticon > * {
      font-weight: bold;
    }
  }

  &.lib-copy-notice {
    >* {
      color: #FFFFFF;
    }

    .ant-notification-notice-message {
      color: #FFFFFF;
    }

  }
}