
.lib-accept-all-cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: white;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0 30px;
  color: #3A3275;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .content {
      a {
          color: #3A3275;
          text-decoration: underline;
      }
      .bold {
          font-weight: bold;
      }
  }
  .button {
      padding: 5px 70px;
      color: white;
      background: #1F4FA0;
      &:hover {
          cursor: pointer;
      }
  }

}