$dark-blue: #1c499b;
.buttonArrow {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: $dark-blue;
    color: white;
    padding: 3px 10px;
}
.lineBreak {
    width: 100%;
}
